*{
    font-family: Barlow,sans-serif;
}
.header{
  padding-bottom: 200px;
}
.header-box{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 20px;
    position: relative;
    padding: 10px 35px;
    background-color: #f4f4f480;
}
.header-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    height: 252px;
    object-fit: cover;
    object-position: top;
}
.bg-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-img img {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 55px;
    box-shadow: azure 0 0 10px;
}
.contact, .mail, #mail{
    display: none;
}
#mail wpp{
    display: flex;
}
.social{
    display: flex;
    align-items: center;
}
.name{
    font-size: 1rem;
}
.wpp{
    font-weight: bold;
    gap: 15px;
}
.wpp-p{
    font-size: 13px;
    font-weight: 700;
    margin-top: 200px;
    margin-left: -65px;
}
.wpp img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    margin-top: 100px;
}

.menu-nav{
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 10px;
    padding: 10px 10px 10px;
    overflow-x: overlay;
    margin: 0 auto;
    width: 85%;
    margin-top: 60px;
}
.menu-nav a, #mail a{
    text-decoration: none;
    color: black;
}
.menu-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    
}
.menu-sect{
    background-color: white;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.products p {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.products img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
}
.items-title{
    justify-content: space-around;
    flex-wrap: wrap;
}

.items-price{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    border: 2px solid #e75022;
    padding: 10px;
    margin-top: -15px;
    border-radius: 10px;
    width: 75px;
    height: 10px;
}

.items-desc{
    font-size: 15px;
    color: rgb(104, 102, 102);
    margin-top: -15px;
    margin-bottom: 25px;
}
.items-box-Wdesc{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 0 0 auto 10px;
    height: 112px;
    width: 330px;
}
.items-price span{
    color:  #e75022;;
    font-weight: 700;
    font-size: 15px;
}
.items-icon{
    width: 20px;
    height: 20px;
}

@media screen and (min-width:912px) and (max-width:1368px){
    #title-bebidas, #title-sandwiches,
#title-ejemplo1, #title-ejemplo2, #title-ejemplo3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    .items-box-Wdesc{
        display: flex;
        flex-wrap: wrap;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        margin: 12px;
        width: 600px;
        height: 112px;
    }
    .items-title{
     display: grid;
    }
    .items-desc{
      margin-right: 50px;
    }
    .menu-sect{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        border-radius: 10px;
        margin-left: 50px;
        width: 90%;
    }
}

@media screen and (min-width: 540px) and (max-width: 540px){
    /* Styles for Surface Duo */
    .header-box{
        padding: 30px 50px;
        background-color: #f4f4f4e6;
        height: 150px;
        min-width: 100%;
        width: 100%;
    }
    .bg-img img {
        max-height: 350px;
        height: 350px;
        position: fixed;
        min-width: 100%;
    }
    
    .menu-nav{
        display: flex;
        flex-direction: flex;
        align-items: center;
        margin-left: 80px;
    }
 
    .wpp img{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        margin-top: 100px;
        margin-right: 20px;
    }
    .wpp-p{
        font-weight: 700;
        margin-top: 115px;
        margin-left: -10px;
      }
      .items-box-Wdesc{
        display: flex;
        flex-wrap: wrap;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        margin: 12px;
        width: 600px;
        height: 112px;
    }
}

@media screen and (max-width: 280px) {
    /* Styles for Galaxy Fold */
    .header-box{
        padding: 10px 50px 10px;
        background-color: #f4f4f4e6;
        height: 150px;
        width: 85%;
    }
 .logo, .name{
    margin-left: -20px;
 }
    .bg-img img {
        max-height: 350px;
        height: 350px;
        width: 85%;
        position: fixed;
    }
    .menu-nav{
        display: flex;
        flex-direction: flex;
        align-items: center;
        margin-left: 35px;
    }
    .items-box-Wdesc{
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        margin: 12px;
        height: 130px;
        width: 300px;
    }
    .wpp img{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        display: flex;
        margin-top: 50px;
    }
    .wpp-p{
        font-weight: 700;
        margin-top: 140px;
        margin-left: -65px;
      }
}

@media screen and (min-width: 768px) {
    /* Styles for tablets */
    #title-bebidas, #title-sandwiches,
    #title-ejemplo1, #title-ejemplo2, #title-ejemplo3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    .header-box{
        padding: 30px 50px;
        background-color: #f4f4f4e6;
        height: 150px;
        min-width: 90%;
    }
    .bg-img img {
        max-height: 350px;
        height: 350px;
        position: fixed;
    }
    .wpp-p{
        font-weight: 700;
        margin-top: 120px;
        margin-left: 15px;
      }
    .items-box-Wdesc{
        display: flex;
        flex-wrap: wrap;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        margin: 12px;
        width: 600px;
        height: 112px;
    }
    .items-title{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .items-desc{
      margin-right: 50px;
    }
    .menu-sect{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        border-radius: 10px;
        margin-left: 50px;
        width: 90%;
    }
    }
  .bg-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    z-index: -1;
}



@media screen and (min-width: 1020px) {
    
.header{
    padding-bottom: 250px;
  }
  .header-box{
      display: grid;
      grid-template-columns: auto 1fr auto auto auto;
      gap: 20px;
      position: relative;
      padding: 30px 50px;
      background-color: #f4f4f4e6;
      height: 100px;
  }
  .header-box{
      position: absolute;
      min-width: 94.8%;
      top: 0;
      left: 0;
      right: 0;
      max-height: 250px;
      height: 150px;
      object-position: top;
  }
  .bg-img img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-height: 350px;
      height: 350px;
      object-fit: cover;
      object-position: top;
      z-index: -1;
  }
  .name{
    margin-bottom: 50px;
  }
  .logo {
    margin-top:45px;
      display: flex;
      align-items: center;
      gap: 15px;
  }
  .logo-img img {
      width: 120px;
      height: 120px;
      border-radius: 55px;
      box-shadow: azure 0 0 10px;
  }
  .social{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 150px;
  }
  .contact, .mail, #mail{
    display: flex;
}
  .mail img{
      width: 30px;
      height: 30px;
  }
  .mail{
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 15px;
  }
  .wpp{
      font-weight: bold;
      gap: 15px;
      margin-left: 20px;
  }
  .wpp-p{
    font-weight: 700;
    margin-top: 20px;
    margin-left: -10px;
  }
  .wpp img{
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-bottom: 100px;
  }
  
  .menu-nav{
      background-color: white;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 80%;
      border-radius: 25px;
      padding: 10px;
      margin-top: 40px;
  }
  .products{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 10px;
  }
  .products p {
      font-size: 1rem;
      margin-left: 10px;
      margin-right: 10px;
  }
  .products img {
      border-radius: 50px;
}
.menu-sect{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 90px;
    width: 90%;
}
#title-bebidas, #title-sandwiches,
#title-ejemplo1, #title-ejemplo2, #title-ejemplo3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.items-box{
    margin-top: -15px;
    height: 100px;
    width: 400px;
}
.items-desc{
    width: 400px;
}
.items-box-Wdesc{
    width: 400px;
    height: 150px;
}

}

